<!-- password_resets/edit.html.erb >

<div class="container">
  <div class="row pt-7">
    <div class="col col-md-4 col-sm-12 mx-auto">
      <div class="card">
        <div class="card-header background">
          <h4 class="mt-2"><%= t("reset_password.subtitle") %></h4>
        </div>
        <div class="card-body background">
          <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

            <%= hidden_field_tag :email, @user.email %>

            <%= f.label :password, t('reset_password.password'), class: "form-label" %>
            <%= f.password_field :password, class: 'form-control' %>
            <br>

            <%= f.label :password_confirmation, t('reset_password.confirm'), class: "form-label" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <br>

            <%= f.submit t('reset_password.update'), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
