<!-- shared/modals/_delete_room_modal.html.erb  -->

<div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3 id="delete-header"></h3>
          </div>

          <button type="button" class="btn btn-info my-1 btn-del-room" data-dismiss="modal">
            <%= t("modal.delete_room.keep") %>
          </button>

          <%= button_to "/", method: :delete, id: "delete-confirm", class: "btn btn-danger my-1 btn-del-room", "data-disable": "" do %>
            <%= t("modal.delete_room.delete") %>
          <% end %>

        </div>
        <div class="card-footer">
          <p id="delete-footer">
            <%= t("modal.delete_room.warning").html_safe %>
            <%= t("modal.delete_room.recording_warning", recordings_num:"").html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
