<%
# footer
%>

<footer class="footer pt-3">
  <p class="text-center mb-1" style="direction:rtl;">
    <%= t("footer.powered_by", href: link_to(t("greenlight"), "sanamapp.ir", target: "_blank", rel: "noopener")).html_safe %> <%= Greenlight::Application::VERSION %>
    <% if legal_url.present? %>
      <span>
        |
        <%= link_to(t("footer.legal"), legal_url) %>
      </span> 
    <% end %>
    <% if privpolicy_url.present? %>
      <span>
        |
        <%= link_to(t("footer.privpolicy"), privpolicy_url)  %>
      </span>
    <% end %>
  </p>
</footer>

<%= render "shared/components/cookie_warning" %>
