<!-- admins/components/_manage_users_tags -->

<div class="form-group mt-n3">
  <div class="row">
    <div class="col-12 tags">
      <span id="active" class="btn btn-sm tag manage-users-tab <%= 'selected' if @tab == 'active' %>">
        <%= t("roles.active") %>
      </span>
      <span id="pending" class="btn btn-sm tag manage-users-tab <%= 'selected' if @tab == 'pending' %>">
        <%= t("roles.pending") %>
      </span>
      <span id="denied" class="btn btn-sm tag manage-users-tab <%= 'selected' if @tab == 'denied' %>">
        <%= t("roles.banned") %>
      </span>
      <span id="deleted" class="btn btn-sm tag manage-users-tab <%= 'selected' if @tab == 'deleted' %>">
        <%= t("roles.deleted") %>
      </span>
    </div>
  </div>
</div>
